
@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h1 class="display-3">Search over 30,000 cars</h1>
        <p class="lead">Containing information ranging from highway mpg to horsepower</p>
        <hr class="my-4">
        <p>Use the control bar on the left to navigate through the information.</p>        
    </div>