
@{
    ViewBag.Title = "Index";
}

<style>
    .car-background {
        background-image: url('../../Public/peter-broomfield-m3m-lnR90uM-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }
</style>

<div class="row">
    <div class="col-11 text-light">
        <div class="jumbotron car-background">
            <img src="~/Public/CarEncyclopedia_White.png" />
            <h1>Search over 30,000 cars</h1>
            <p class="lead">Containing information ranging from highway mpg to horsepower</p>
            <hr class="my-4">
            <p>Use the control bar on the left to navigate through the information.</p>
        </div>
    </div>
</div>
