body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.vertical-nav {
    text-align: center;
    background-color: rgb(62, 63, 58);
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

#busy {
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sub-link {
    font-size: 11px;
    text-decoration: underline;
    padding-left: 10px;
}

.form-control-xs {
    height: calc(1.0em + 0.4rem + 1.25px);
    padding: 0.08rem 0rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* Nav Visualize Section */

#CompareMakesToggle {
    cursor: pointer;
}
    #CompareMakesToggle:hover {
        color: #29ABE0;
    }

/* Compare Makes */
.MakesIncludedToggle {
    cursor: pointer;
    border: 1px solid #DFD7CA;
}
    .MakesIncludedToggle:hover {
        color: #29ABE0;
        border-color: #29ABE0;
    }
